/* common.css - additional settings　- cornerskin
  - Firefox (Macintosh)
--------------------------------------------------------- */
body	{ font-size:12px; font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",sans-serif;}
span.img span	{ font-size:90%; line-height:1.2;}
h2	{ font-size:160%; line-height:1.3; font-family:"HiraKakuPro-W6"; font-weight:normal;}
h3	{ font-size:105%; line-height:1.3; font-family:"HiraKakuPro-W6";}
h4	{ font-size:93%; line-height:1.3; font-family:"HiraKakuPro-W6"; font-weight:normal;}
p	{ font-size:93%; line-height:1.6;}
p.lead	{ font-size:93%; font-family:"HiraKakuPro-W6"; line-height:1.7; font-weight:normal;}
p.note,p.affix	{ font-size:85%;}
p.kakomi	{ line-height:1.5;}
blockquote	{ font-size:93%; line-height:1.5;}
address	{ font-size:80%;}
li	{ font-size:93%; line-height:1.5;}
th,td	{ line-height:1.6;}
strong	{ font-family:"HiraKakuPro-W6";}
dt	{ font-size:93%; line-height:1.4;}
dd	{ font-size:93%; line-height:1.4;}
.indent .th,.indent dt,.indent .balloon	{ font-size:93%;}
.breadcrumb-1,.breadcrumb-2,.breadcrumb-3	{ font-size:90%; line-height:1.6;}

.lhn h2,.lhn h3,.lhn h4	{ line-height:1.1;}
.lhn p	{ line-height:1.2;}
.lhn p.lead,.lhn blockquote,.lhn li,.lhn th,.lhn td	{ line-height:1.3;}
.lhw h2,.lhw h3,.lhw h4	{ line-height:2.0;}
.lhw p	{ line-height:2.1;}
.lhw p.lead,.lhw blockquote,.lhw li,.lhw th,.lhw td	{ line-height:2.2;}

#page-title	{ font-size:15px;}
#page-title span	{ font-size:10px;}

.menuh .menu-a .mn1	{ font-size:90%;}
.menuh .menu-b .mn1	{ font-size:90%;}
.menuh .menu-c .mn1	{ font-size:95%;}
.menuh .menu-d .mn1	{ font-size:95%;}
.menuh .menu-e .mn1	{ font-size:95%;}
.menuv .mn1,.menuv .mn2,.menuv .mn3,.menuv .mn4	{ font-size:95%;}


/* optional setting for theme --------------------------- */
.menuv .menu-d li	{ line-height:1;}
.menuv .menu-d .mn1,.menuv .menu-d .mn2,.menuv .menu-d .mn3,.menuv .menu-d .mn4	{ font-size:85%;}
.menuv .menu-d a	{ background-position:left 2px !important;}


/* app setting ------------------------------------------ */
.area:after,
.amc:after,
.block:after,
.bmc:after,
.column:after,
.box:after,
.pocket:after,
.xmc:after,
.mc:after,
.balloon:after,
.menuh ul:after,
.menu-a:after,
.menu-b:after,
.menu-c:after,
.menu-d:after,
.menu-e:after,
.mbox:after,
dt:after,
dd:after {
	clear:both;
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
}

th,td,li li,#area-header li li,.side-group li li,#area-footer li li	{ font-size:100%;}


/* font setting ------------------------------------------ */
.min	{ font-family:"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro";}
.got	{ font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",sans-serif;}
.fsize_lll	{ font-size:260%;}
.fsize_ll	{ font-size:160%;}
.fsize_l	{ font-size:140%;}
.fsize_m	{ font-size:120%;}
.fsize_s	{ font-size:90%;}
.fsize_ss	{ font-size:80%;}