html,body { margin: 0; padding: 0; height: 100%; min-height : 100%;}
body {background: transparent; }
#container { 
    cursor: pointer;  
    vertical-align: middle; 
    display: block; 
    margin: auto; 
    height:100%; 
    width: 100%;
 }
.container-in { 
    width: 100%; 
    vertical-align: middle; 
    text-align: center; 
    display: block;
    outline: 0;
}
.centered{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.popup-links{
    margin: 10px 0;
}
.disappear-widget{
    opacity: 0;
}

.hidden {
	display: none;
}
