@charset "UTF-8";
.clearFix:after{content:".";display:block;clear:both;height:0;visibility:hidden}
@font-face{font-family:pt-icon;src:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.eot?dmu0kc);src:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.eot?#iefix-dmu0kc) format("embedded-opentype"),url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.woff?dmu0kc) format("woff"),url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.woff2?-dmu0kc) format("woff2"),url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.ttf?dmu0kc) format("truetype"),url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/fonts/pt-icon.svg?-dmu0kc#pt-icon) format("svg");font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:pt-icon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.ff,.icmv:before,.icmv_s:before,.icon-arrow_left-af:after,.icon-arrow_left:before,.icon-arrow_top:before,.icon-balloon:before,.icon-cancel2:before,.icon-cancel:before,.icon-cog:before,.icon-comment:before,.icon-done_circle:before,.icon-facebook1:before,.icon-facebook2:before,.icon-feather:before,.icon-feed_illust:before,.icon-google2:before,.icon-hatebu:before,.icon-list:before,.icon-movie_play:before,.icon-search:before,.icon-twitter1:before,.icon-twitter2:before,.icon-violation:before,.subAnnounce li .infoImg .fbIcon:before,.subAnnounce li .infoImg .twIcon:before,.yjnSnsBtn .fbBtn:before,.yjnSnsBtn .hateBtn:before,.yjnSnsBtn .twBtn:before{font-family:pt-icon}
.icon-arrow_top:before{content:"\e600"}
.icon-cog:before{content:"\e601"}
.icon-list:before{content:"\e602"}
.icmv:before,.icmv_s:before,.icon-movie_play:before{content:"\e603"}
.icon-cancel:before{content:"\e604"}
.icon-cancel2:before{content:"\e605"}
.icon-feed_illust:before{content:"\e606"}
.icon-feather:before{content:"\e607"}
.icon-search:before{content:"\e608"}
.icon-violation:before{content:"\e609"}
.icon-balloon:before{content:"\e610"}
.icon-facebook1:before,.yjnSnsBtn .fbBtn:before{content:"\e611"}
.icon-facebook2:before,.subAnnounce li .infoImg .fbIcon:before{content:"\e612"}
.icon-twitter2:before{content:"\e613"}
.icon-twitter1:before,.subAnnounce li .infoImg .twIcon:before,.yjnSnsBtn .twBtn:before{content:"\e614"}
.icon-arrow_left:before{content:"\e615"}
.icon-comment:before{content:"\e616"}
.icon-done_circle:before{content:"\e617"}
.icon-google2:before{content:"\e618"}
.icon-hatebu:before,.yjnSnsBtn .hateBtn:before{content:"\e619"}
.icon-arrow_left-af:after{content:"\e615"}
body{margin:0;padding:0;text-align:center}
body,input,select,textarea{color:#333;font-family:"メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif}
blockquote,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,ul{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
ol li,ul li{list-style:none}
table{margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-size:100%}
caption{text-align:left}
code,del,input,ins,kbd,pre,samp,select,table,textarea,var{font-size:100%}
address,cite,del,dfn,em,ins,samp,strong,th,var{font-weight:400;font-style:normal}
a img{border:0}
fieldset{border:none}
.yjGuid,.yjSkip,hr.yjSeparation{display:none}
a{text-decoration:none}
a:link{color:#03c}
a:visited{color:#639}
a:hover{color:#cc3434;text-decoration:underline}
a:active{color:#cc3434}
#wrapper{text-align:left;font-size:medium;line-height:1.6;min-width:950px}
#contents{background:#f7f7f8 url(../images/bg_gronav_white_v2.png?141008) repeat-x 0 -1px}
#contentsBody{position:relative}
#contentsBody:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#msthd a img{vertical-align:top}
#contentsBody,#contentsFooter,#contentsHeader,#footer,#header{width:950px;margin:0 auto}
#contents{width:100%;overflow:visible;text-align:left}
#contents:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.yj950-1 #main{width:950px}
.yj950-2 #main{float:left;width:634px}
.yj950-2 #sub{float:right;width:300px;margin-top:12px}
#emg,#emg2,#emg3{margin:0 auto 15px}
#emg br,#emg2 br,#emg3 br{display:none}
#emg table,#emg2 table,#emg3 table{margin:0 auto}
#emg .yjemgDate td,#emg2 .yjemgDate td,#emg3 .yjemgDate td{padding:3px 0}
#emg .yjemgText,#emg2 .yjemgText,#emg3 .yjemgText{padding-top:3px}
#emg .yjemgInfo,#emg2 .yjemgInfo,#emg3 .yjemgInfo{padding-bottom:3px}
#emg strong,#emg2 strong,#emg3 strong{font-weight:700}
#emg .yjSt,#emg2 .yjSt,#emg3 .yjSt{font-size:81.25%}
#posMEM,#posMEM2{margin:0 auto 10px}
#lrec{width:300px;margin:0 auto 15px}
.adSQM{background:#eee;border:1px solid #ccc;border-bottom:none}
.adSQM .title{text-align:center;display:block;font-weight:700;padding:2px 6px 0;font-size:75%}
.adSQM_wrapper{font-size:75%;background:#fff;border:1px solid #ccc;border-top:none;padding:4px 5px;margin-bottom:15px}
.adSQM_wrapper table{width:288px}
.adSQM_wrapper td div{overflow:hidden;width:234px;word-break:break-all;word-wrap:break-word}
.adSQM_wrapper img{margin:0}
.adSQM_wrapper hr.line{border:solid #ccc;border-width:1px 0 0 0;height:1px;overflow:hidden;clear:both}
#adSqm,.adBox,.adIM_criteo,.adSQB,.adULT{margin-bottom:15px}
.adSQB{line-height:1.3}
.icLive,.icNew,.icPay,.icPhoto,.icVideo{display:inline-block;margin-left:5px;text-indent:-9999px;overflow:hidden;background:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/ic_heading_sprite.png) no-repeat}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.icLive,.icNew,.icPay,.icPhoto,.icVideo{background-image:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/ic_heading_sprite_2x.png);background-size:26.5px auto}
}
.icNew{width:27px;height:12px;background-position:0 0}
.icLive{width:27px;height:12px;background-position:0 -50px}
.icPhoto{width:14px;height:12px;background-position:0 -100px}
.icVideo{width:14px;height:11px;background-position:0 -150px}
.icPay{width:26px;height:13px;background-position:0 -200px}
.icmv,.icmv_s{display:inline-block;background:#03c;border-radius:2px;color:#fff;text-align:center}
.icmv_s{width:16px;height:11px;line-height:11px;font-size:12px}
.icmv{width:32px;height:22px;line-height:22px;font-size:24px}
.btnView{border:1px solid #d0d0d0;border-color:rgba(0,0,0,.05) rgba(0,0,0,.2) rgba(0,0,0,.25) rgba(0,0,0,.1);color:#333;text-decoration:none;background:#fefefe;background-size:100%;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#efefef));background-image:-webkit-linear-gradient(top,#fff,#efefef);background-image:-o-linear-gradient(top,#fff,#efefef);background-image:linear-gradient(to bottom,#fff,#efefef);border-radius:2px}
.yjnSnsBtn{display:block}
.yjnSnsBtn .fbBtn,.yjnSnsBtn .hateBtn,.yjnSnsBtn .twBtn{width:80px;height:26px;line-height:26px;color:#fff;text-align:center;border-radius:2px}
.yjnSnsBtn .fbBtn{background:#5a7cc6;background:-webkit-gradient(linear,left top,left bottom,color-stop(2%,#5a7cc6),color-stop(4%,#4b68b8),to(#3d5bab));background:-webkit-linear-gradient(top,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);background:-o-linear-gradient(top,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);background:linear-gradient(to bottom,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);border:1px #3d57a2 solid}
.yjnSnsBtn .fbBtn:before{font-size:18px}
.yjnSnsBtn .twBtn{background:#7ccaff;background:-webkit-gradient(linear,left top,left bottom,color-stop(2%,#7ccaff),color-stop(4%,#66bcfe),to(#56adef));background:-webkit-linear-gradient(top,#7ccaff 2%,#66bcfe 4%,#56adef 100%);background:-o-linear-gradient(top,#7ccaff 2%,#66bcfe 4%,#56adef 100%);background:linear-gradient(to bottom,#7ccaff 2%,#66bcfe 4%,#56adef 100%);border:1px #56adef solid}
.yjnSnsBtn .twBtn:before{font-size:20px}
.yjnSnsBtn .hateBtn{background:#4182d8;background:-webkit-gradient(linear,left top,left bottom,color-stop(2%,#54a4fe),color-stop(4%,#417ce1),to(#336fd6));background:-webkit-linear-gradient(top,#54a4fe 2%,#417ce1 4%,#336fd6 100%);background:-o-linear-gradient(top,#54a4fe 2%,#417ce1 4%,#336fd6 100%);background:linear-gradient(to bottom,#54a4fe 2%,#417ce1 4%,#336fd6 100%);border:1px #2f69d0 solid}
.yjnSnsBtn .hateBtn:before{font-size:16px}
.yjnSnsBtn span{display:none}
.yjnSnsBtn:hover{opacity:.9}
.yjnSnsBtn a:hover{text-decoration:none}
.alertforIE{display:none}
.alertBox{padding:10px 0}
.alertBox .alert{border-radius:3px;font-size:87.5%;background:#ffefb0;border:#ffd325 1px solid;padding:13px}
.alertBox .alert p{padding:0 0 0 43px;vertical-align:middle;line-height:1.3;background:url(../../all/images/ic_alert.png) left center no-repeat}
.alertBox .alert p em{font-weight:700}
.alertBox .alert i{display:none}
.attention{padding:12px 0 15px 0}
.attention p{padding:10px;border:2px solid #5d83a1;border-radius:2px;line-height:1.3;font-size:75%}
.eruption{margin:0 20px;padding:10px 0}
.eruption .eruptionContent{display:block;border:solid 2px #e61919;border-radius:3px;background:#fff;font-weight:700;text-align:center}
.eruption .eruptionContent>div{background-color:#e61919;color:#fff;line-height:1.8}
.eruption .eruptionContent>div span{font-size:14px}
.eruption .eruptionContent>div span time{margin:0 10px}
.eruption .eruptionContent a{display:block;padding:5px}
#newsFlash a{display:block;margin:0 0 10px 0;padding:7px 0;border:2px solid #d3d3d3;border-radius:3px;background:#fff;text-align:center;font-weight:700;font-size:93.75%}
#headerSearch .advanced a,#headerSearch .personalInfo li.setting a,#headerSearch .searchWrapper,#headerSearch .searchWrapper .inputWrapper,#headerSearch .searchWrapper .searchButton input{background-image:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/ic_header_sprite.png);background-repeat:no-repeat}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
#headerSearch .advanced a,#headerSearch .personalInfo li.setting a,#headerSearch .searchWrapper,#headerSearch .searchWrapper .inputWrapper,#headerSearch .searchWrapper .searchButton input{background-image:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/ic_header_sprite_2x.png);background-size:40px auto}
}
#headerSearch{border-top:1px solid #e1e1e1;background:#f7f7f8}
#headerSearch:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#headerSearch a{color:#333}
#headerSearch .searchWrapper{position:relative;float:left;margin:7px 7px 7px 10px;border:1px solid #cdcdcd;border-radius:3px;background-color:#fff;background-position:right -285px}
#headerSearch .searchWrapper:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#headerSearch .searchWrapper .inputWrapper{float:left;width:288px;background-position:right -279px;line-height:1}
#headerSearch .searchWrapper .inputWrapper .searchInput{width:282px;padding-left:5px;height:24px;border:0;font-size:75%}
#headerSearch .searchWrapper .inputWrapper .searchInput:-moz-placeholder,#headerSearch .searchWrapper .inputWrapper .searchInput:-ms-input-placeholder,#headerSearch .searchWrapper .inputWrapper .searchInput::-webkit-input-placeholder{color:#d0d0d0}
#headerSearch .searchWrapper .searchButton{float:left}
#headerSearch .searchWrapper .searchButton input{display:block;width:32px;height:24px;border:none;background-position:-1px 1px;background-color:#fff;text-indent:-9999px;overflow:hidden;cursor:pointer}
#headerSearch .searchWrapper .searchButton input.hide{display:none}
#headerSearch .advanced{position:absolute;top:-1px;right:-35px}
#headerSearch .advanced a{display:block;width:24px;height:24px;border:1px solid #cdcdcd;border-radius:3px;background-color:#fff;background-position:2px -161px;text-indent:-9999px;overflow:hidden}
#headerSearch .personalInfo{float:right;font-size:75%}
#headerSearch .personalInfo:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#headerSearch .personalInfo li{float:left;height:38px;border-left:1px solid #e1e1e1;line-height:24px}
#headerSearch .personalInfo li:hover{background-color:#fff}
#headerSearch .personalInfo li a{display:inline-block;vertical-align:top}
#headerSearch .personalInfo li .update{border:1px solid #cdcdcd;border-radius:3px;background:#fff;padding:0 5px}
#headerSearch .personalInfo li.myPage{padding-left:10px}
#headerSearch .personalInfo li.myPage a{margin:7px 10px 7px 0}
#headerSearch .personalInfo li.purchase a{padding:7px 20px}
#headerSearch .personalInfo li.setting a{text-indent:-9999px;overflow:hidden;display:block;background-position:5px -74px;padding:7px 15px;width:20px;height:20px}
#globalNav{font-size:87.5%;overflow:hidden}
#gnPri{background:#44739c;background-image:-webkit-gradient(linear,left top,left bottom,from(#44739c),to(#436f92));background-image:-webkit-linear-gradient(top,#44739c,#436f92);background-image:-o-linear-gradient(top,#44739c,#436f92);background-image:linear-gradient(to bottom,#44739c,#436f92);border-right:1px #4a7da2 solid;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.3)}
#gnPri:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#gnPri a{color:#fff}
#gnPri li{float:left}
#gnPri li a{display:block;height:22px;padding:8px 21px 7px;border-right:1px #3a6181 solid;-webkit-box-shadow:1px 0 0 rgba(255,255,255,.08);box-shadow:1px 0 0 rgba(255,255,255,.08);line-height:22px}
#gnPri li a:hover{border-right:1px #3a6181 solid;background-color:#5590b5;background-image:-webkit-gradient(linear,left top,left bottom,from(#5590b5),to(#548bad));background-image:-webkit-linear-gradient(top,#5590b5,#548bad);background-image:-o-linear-gradient(top,#5590b5,#548bad);background-image:linear-gradient(to bottom,#5590b5,#548bad);-webkit-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s;-webkit-box-shadow:none;box-shadow:none;text-decoration:none}
#gnPri li.current a{border-right:1px #3a3e49 solid;background:#404552}
.gnSecWrap,.lnSecWrap{padding-left:5px;border-bottom:1px #e1e1e1 solid;background:#fff}
.gnSecWrap:after,.lnSecWrap:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.gnSecWrap li,.lnSecWrap li{float:left;display:block;padding:0 7px;background:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/separate15.gif) no-repeat 0 50%}
.gnSecWrap li:first-child,.lnSecWrap li:first-child{background:0 0}
.gnSecWrap li a,.lnSecWrap li a{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;height:40px;padding:0 8px;border-bottom:0 solid #476e9a;line-height:40px;color:#4e5665;font-weight:700;-webkit-transition:border-width .12s ease-in-out;-o-transition:border-width .12s ease-in-out;transition:border-width .12s ease-in-out}
.gnSecWrap li a:hover,.gnSecWrap li.current a,.lnSecWrap li a:hover,.lnSecWrap li.current a{border-bottom-width:4px;color:#131924;text-decoration:none}
#gnSec{position:relative;bottom:-1px}
#gnSecSub{float:right}
#footer{padding:15px 0 20px;text-align:center}
#footer address{font-size:small;line-height:1.4em}
.yjChviewWrap{text-align:center;margin-bottom:10px}
.yjChview{display:inline-block;padding:10px 30px;border:1px solid #e7e7e7;background:#f9f9f9;text-align:center}
.yjChview dd,.yjChview dl,.yjChview p{margin:0}
.yjChview dl dd,.yjChview dl dt{display:inline;font-size:14px;line-height:1.2em}
.yjChview dl dt{padding-right:.2em}
.yjChview dl dd span{font-weight:700}
.yjChview dl dd:after{content:"\ff5c"}
.yjChview dl dd.end:after{content:""}
.subMod{margin-bottom:15px}
.subMod .hd .ttl{font-size:87.5%;font-weight:700;padding:4px}
.subMod .bd{border-bottom:1px solid #e1e1e1}
.subMod .bd li{border-top:1px solid #e1e1e1}
.subMod .bd li:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.subMod .ft{padding-top:5px;text-align:right;font-weight:700;font-size:87.5%}
.subMod.bnr a{display:block}
.subMod.bnr a img{border:none}
.subRanking .hd{position:relative}
.subRanking .hd .spl{position:absolute;top:10px;right:0;font-size:81.25%}
.subRanking .bd li{line-height:1.3}
.subRanking .bd li a{display:block;padding:8px 0}
.subRanking .bd li a:hover{text-decoration:none;background-color:#eaeef2}
.subRanking .bd li a:hover .ttl{text-decoration:underline}
.subRanking .bd li a:hover .thumbnail .img:after{border:1px solid rgba(0,0,0,.24)}
.subRanking .bd li a .rankNum{display:block;float:left;padding-left:7px;font-size:125%;font-family:Arial,Helvetica,sans-serif;font-weight:700;color:#333}
.subRanking .bd li a .cap{display:block;margin-left:30px;word-break:break-all}
.subRanking .bd li a .cap:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.subRanking .bd li a .ttl{font-size:81.25%;padding-right:5px}
.subRanking .bd li a .source{display:inline-block;padding-right:5px}
.subRanking .bd li a .comment,.subRanking .bd li a .date,.subRanking .bd li a .source{color:#666;font-size:75%}
.subRanking .bd li a .comment strong{color:#d87937;font-weight:700}
.subRanking .bd li a .thumbnail{position:relative;float:right;margin-left:10px;background:#efefef}
.subRanking .bd li a .thumbnail .img{clear:both;display:table-cell;text-align:center;vertical-align:middle;width:60px;height:60px}
.subRanking .bd li a .thumbnail .img:after{content:"";display:block;position:absolute;top:0;left:0;border:1px solid rgba(0,0,0,.06);-webkit-box-sizing:border-box;box-sizing:border-box;width:60px;height:60px;background:url(https://s.yimg.jp/images/jpnews/cre/common/all/images/spacer.gif)}
.subRanking .bd li a .thumbnail img{max-width:60px;max-height:60px;vertical-align:middle}
.subRanking .bd li a .thumbnail.mv{background:#000}
.subRanking .bd li a .thumbnail.mv .icmv_s{position:absolute;left:4px;bottom:4px}
.subRanking .bd li .rankStatus{display:block;color:#333;font-size:75%}
.subRanking .bd li .rankStatus .accept,.subRanking .bd li .rankStatus .overdue{display:inline-block;width:3em;margin-right:1em}
.subRanking .bd li .rankStatus .accept{color:#d96d00}
.subRanking.mv .bd li .thumbnail{margin-left:10px;position:relative;background:#000}
.subRanking.mv .bd li .thumbnail .icmv_s{position:absolute;left:3px;bottom:3px}
.subRanking.mv .bd li a .cap{margin-left:0}
.subRanking.ted .hd:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.subRanking.ted .hd .ttl{display:block;width:55px;height:20px;float:left;text-indent:-9999px;background:url(../images/ttl_TED.png) no-repeat}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.subRanking.ted .hd .ttl{background-image:url(../images/ttl_TED_2x.png);background-size:55px 20px}
}
.subRanking.ted .hd .anchor{float:right;font-size:81.25%}
.subRanking.ted .bd li a .thumbnail{float:left;position:relative;margin-right:10px;padding-left:0}
.subRanking.ted .bd li a .thumbnail .icmv_s{position:absolute;left:3px;bottom:3px}
.subRanking.ted .bd li a .thumbnail .img{width:100px;height:75px}
.subRanking.ted .bd li a .thumbnail .img:after{width:100px;height:75px}
.subRanking.ted .bd li a .thumbnail .img img{max-width:100px}
.subRanking.ted .bd li a .ttl{position:relative;top:5px;font-size:87.5%}
.subRanking.ted .bd li a .cap{position:relative;margin-left:0}
.subRanking.authorRank .cap .ttl{display:block;line-height:1.4;margin-bottom:3px}
.subRanking.authorRank .cap .author_thumbnail{padding-right:3px}
.subRanking.authorRank .cap .author_thumbnail img{vertical-align:middle}
.subRankOther{border-bottom:none}
.subRankOther .bd{border-top:1px solid #e1e1e1;border-bottom:none}
.subRankOther .bd li{border-top:none;display:inline-block;font-size:81.25%}
.subRankOther .bd li.last span{border-right:none}
.subRankOther .bd a{display:block;padding-top:10px}
.subRankOther .bd span{display:block;padding:0 10px;border-right:1px #e1e1e1 solid;line-height:1}
.subAnnounce li{padding:6px 0;overflow:hidden;font-size:87.5%}
.subAnnounce li .infoImg{display:table-cell;vertical-align:middle}
.subAnnounce li .infoImg img{margin-right:5px}
.subAnnounce li .infoImg a:hover{text-decoration:none}
.subAnnounce li .infoImg .fbIcon,.subAnnounce li .infoImg .twIcon{width:18px;height:18px;line-height:19px;color:#fff;text-align:center;border-radius:2px;margin-right:5px}
.subAnnounce li .infoImg .fbIcon span,.subAnnounce li .infoImg .twIcon span{display:none}
.subAnnounce li .infoImg .fbIcon{background:#5a7cc6;background:-webkit-gradient(linear,left top,left bottom,color-stop(2%,#5a7cc6),color-stop(4%,#4b68b8),to(#3d5bab));background:-webkit-linear-gradient(top,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);background:-o-linear-gradient(top,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);background:linear-gradient(to bottom,#5a7cc6 2%,#4b68b8 4%,#3d5bab 100%);border:1px #3d57a2 solid}
.subAnnounce li .infoImg .fbIcon:before{font-size:18px}
.subAnnounce li .infoImg .twIcon{background:#7ccaff;background:-webkit-gradient(linear,left top,left bottom,color-stop(2%,#7ccaff),color-stop(4%,#66bcfe),to(#56adef));background:-webkit-linear-gradient(top,#7ccaff 2%,#66bcfe 4%,#56adef 100%);background:-o-linear-gradient(top,#7ccaff 2%,#66bcfe 4%,#56adef 100%);background:linear-gradient(to bottom,#7ccaff 2%,#66bcfe 4%,#56adef 100%);border:1px #56adef solid}
.subAnnounce li .infoImg .twIcon:before{font-size:13px}
.subAnnounce li .infoTxt{display:table-cell;vertical-align:middle}
.subTopics .bd{padding-top:.3em;border-top:1px solid #d7d7d7}
.subTopics .bd li{padding:0 0 .3em 10px;border-top:0 none;background:url(../../all/images/ic_list_dot.gif) no-repeat scroll 0 10px transparent;font-size:87.5%}
.subFB .bd{display:inline-block;position:relative;margin:0 0 10px;padding-top:.3em;border-top:1px solid #d7d7d7;border-bottom:none;min-height:70px}
.themeSet{padding:10px 0}
.themeSet:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.themeSet .rankNum{display:block;float:left;padding:0 12px 0 7px;font-size:125%;font-family:Arial,Helvetica,sans-serif;font-weight:700;color:#333}
.themeSet .watchModule{float:right;margin-top:5px}
.themeSet .thumb{display:block;width:48px;height:48px;float:left;text-align:center;position:relative;position:relative;background-color:#efefef}
.themeSet .thumb:before{position:absolute;left:0;top:0;width:100%;height:100%;content:"";border:1px solid rgba(0,0,0,.1);-webkit-box-sizing:border-box;box-sizing:border-box;z-index:2}
.themeSet .thumb span{display:block;width:48px;height:48px;display:table-cell;vertical-align:middle;layout-grid-line:48px}
.themeSet .thumb img{vertical-align:middle}
.themeSet .themeLink{float:left;width:250px;display:block;text-decoration:none}
.themeSet .themeLink:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.themeSet .themeLink:hover .themeTtl{text-decoration:underline}
.themeSet .themeLink .themeTtl{display:block;margin:8px 0 0 55px;padding-right:5px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;line-height:1.2}
.themeSet .themeLink .num{font-size:68.75%;display:block;margin-left:55px;color:#999;line-height:1.4;font-family:Arial}
.themeSet .themeLink .num strong{font-size:127.27273%;font-weight:700;color:#333;margin-right:3px}
.subMod.themeList{margin-bottom:20px}
.subMod.themeList .bd{border-top:1px solid #e1e1e1}
.subMod.themeList .bd li:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.subMod.themeList .bd li:first-child{border-top:none!important}
.subMod.themeList .bd li:last-child{background:0 0}
.subMod.themeList.thRank .themeTtl{margin-left:85px}
.subMod.themeList.thRank .num{margin-left:85px}
.themeSearchMod{margin-bottom:20px}
.themeSearchMod dt{background:#24b3b3 url(../../../theme/pc/images/ic_search_sprite_pc.png) no-repeat 26px -734px;padding:10px 0 10px 70px;color:#fff;line-height:1.3;border-radius:5px 5px 0 0}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
.themeSearchMod dt{background-image:url(../../../theme/pc/images/ic_search_sprite_pc_2x.png);background-size:32px auto}
}
.themeSearchMod dt strong{font-weight:700}
.themeSearchMod dd{background:#fff;padding-top:10px;border-radius:0 0 5px 5px;border:2px solid #24b3b3;text-align:center}
.themeSearchMod dd p{width:215px;height:40px;line-height:40px;border:2px solid #dde0e6;border-radius:3px;margin:0 auto 10px;font-weight:700;font-size:87.5%}
.themeSearchMod dd p a{display:block;color:#222;text-decoration:none}
.themeSearchMod dd p.search{border-color:#24b3b3}
.themeSearchMod dd p.search a:hover{border-color:#2d9999;background:#ebf8f8}
.themeSearchMod dd p.search span{display:inline-block;padding-left:20px;background:url(../../../theme/pc/images/ic_search_sprite_pc.png) no-repeat -1px -587px}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
.themeSearchMod dd p.search span{background-image:url(../../../theme/pc/images/ic_search_sprite_pc_2x.png);background-size:32px auto}
}
.themeSearchMod dd p.about a:hover{border-color:#bec3ce;background:#f8f8fa}
.themeList_m{overflow:hidden;margin:0 -8px}
.themeSet_m{position:relative;float:left;width:33%;border-right:1px solid #f0f0f0}
.themeSet_m:last-child{border-right:0}
.themeSet_m a.themeLink{display:block;padding:0 44px 0 10px;text-decoration:none;line-height:1.3}
.themeSet_m a.themeLink .thumb{float:left;display:block;width:32px;height:32px;background:no-repeat 50%;-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.06);box-shadow:inset 0 0 0 1px rgba(0,0,0,.06);overflow:hidden}
.themeSet_m a.themeLink:hover .thumb{-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.25);box-shadow:inset 0 0 0 1px rgba(0,0,0,.25)}
.themeSet_m a.themeLink .themeTtl{display:block;margin-left:35px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;font-size:87.5%}
.themeSet_m a.themeLink:hover .ttl{text-decoration:underline}
.themeSet_m a.themeLink .num{display:block;margin-left:35px;color:#999;font-size:68.75%;font-family:Arial,Helvetica,sans-serif}
.themeSet_m a.themeLink .num strong{margin-right:3px;color:#333;font-size:127.27273%;font-weight:700}
.themeSet_m .watchModule{position:absolute;top:0;right:10px}
a.themeHelplink{padding-left:20px;background:url(../../all/images/ic_watch.png) no-repeat 0 50%;font-size:87.5%}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
a.themeHelplink{background-image:url(../../all/images/ic_watch_2x.png);background-size:16px auto}
}
.localMod .hd{border-bottom:1px #e1e1e1 solid}
.localMod dl{font-size:81.25%;border-bottom:1px #e1e1e1 solid;padding:0 5px 4px}
.localMod dl:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.localMod dt{float:left;width:7em;padding:4px 12px 0 0;text-align:right;font-weight:700;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:nowrap}
.localMod dd{display:block;float:left;white-space:nowrap;padding:8px 0 0;line-height:.9;-webkit-box-sizing:border-box;box-sizing:border-box}
.localMod #hokkaido dt{padding:4px 10px 4px 0}
.wetherMod .hd{border-bottom:1px #e1e1e1 solid}
.wetherMod .bd{width:150px;margin:10px auto 0}
.goTopSide{display:block;width:300px;padding:8px 0 6px 0;text-align:center;background:#8f9fad;border:none}
.goTopSide:hover{background:#50606d;text-decoration:none;color:#fff}
.goTopSide span{display:block;width:300px;margin:0 auto;padding-left:15px;background-image:url(../images/ic_common_pc_sprite.png);background-repeat:no-repeat;background-position:90px 2px;font-size:75%;color:#fff}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.goTopSide span{background-image:url(../images/ic_common_pc_sprite_2x.png);background-size:40px auto}
}
.goTopSide.tab{position:fixed;z-index:10;width:78px;height:78px;padding:0;right:40px;bottom:40px;opacity:.6;background-color:#000;border-radius:5px;overflow:visible}
.goTopSide.tab.hide{display:none}
.goTopSide.tab span{display:block;width:78px;height:78px;margin:0;text-indent:-9999px;overflow:hidden;background-image:url(../images/ic_common_pc_sprite_2x.png)!important;background-repeat:no-repeat;background-position:25px 25px;background-size:80px auto}
.fdFt:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.fdFt .goTop{text-indent:-9999px;overflow:hidden;display:block;float:right;width:26px;height:26px;padding:12px;text-align:center;background:#c1c1c2;border:none}
.fdFt .goTop:hover{background:#636363}
.fdFt .goTop span{display:block;width:15px;height:20px;margin:0 auto;background-image:url(../images/ic_common_pc_sprite.png);background-repeat:no-repeat;background-position:1px 6px}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.fdFt .goTop span{background-image:url(../images/ic_common_pc_sprite_2x.png);background-size:40px auto}
}
.fdFt .loadMore{display:block;padding:15px 0;text-align:center;font-size:87.5%}
.fdFt .loadMore.processing{text-indent:-9999px;overflow:hidden;border:0;background:no-repeat url(../../all/images/loading24_w.gif) 50% 50% transparent;cursor:default;text-indent:-9999px;-webkit-box-shadow:none;box-shadow:none;-webkit-filter:none;filter:none}
.fdFt .loadMore.reload{border-color:#dbe6f0 #c5d2dd #acb8c1 #ccdae5;background:#dbe7f0;background-image:-webkit-gradient(linear,left top,left bottom,from(#fbfdfe),to(#dbe7f0));background-image:-webkit-linear-gradient(top,#fbfdfe,#dbe7f0);background-image:-o-linear-gradient(top,#fbfdfe,#dbe7f0);background-image:linear-gradient(to bottom,#fbfdfe,#dbe7f0)}
.fdFt .ftPager ul{text-align:center}
.fdFt .ftPager li{text-align:center;display:inline-block;font-size:90%;margin-right:5px;vertical-align:middle}
.fdFt .ftPager li a,.fdFt .ftPager li span{display:block;width:40px;border-radius:3px;line-height:40px;color:#333;text-align:center}
.fdFt .ftPager li a{background-color:#fff;border:1px solid;border-color:#e3e3e3 #cecece #b4b4b4 #d6d6d6}
.fdFt .ftPager li a:hover{background-color:#f9f9f9;border-color:#ababab #909090 #7e7e7e #979797}
.fdFt .ftPager li span{background:none #404453;border:1px solid #404453;color:#fff;font-weight:700}
.fdFt .ftPager li span.continued{border:none;background:0 0;color:#646464;width:35px}
.fdFt .ftPager li.prev{margin-left:0;margin-right:10px}
.fdFt .ftPager li.next{margin-left:5px;margin-right:0}
.fdFt .ftPager li.next a,.fdFt .ftPager li.prev a{font-weight:400;padding-left:7px;padding-right:7px}
.fdFt .ftPager li.next span,.fdFt .ftPager li.prev span{background:none #e8e8e8;border:1px solid #dfdfdf;color:#999;font-weight:400;padding-left:7px;padding-right:7px}
.fdFt .ftPager .counter{text-align:center;font-size:75%;padding-top:8px}
.fdFt .ftPager .counter span{color:#9f9f9f}
.ftCategory{margin:14px 0;text-align:center}
.ftCategory li{display:inline-block;font-size:87.5%}
.ftCategory li a{display:inline-block;margin:0 .7em}
.categoryFtNav{border-bottom:solid 1px #e1e1e1;padding:10px 15px 5px 15px;background:#fff;font-size:81.25%}
.categoryFtNav .all{display:inline-block;text-align:right;width:70px;font-weight:700}
.categoryFtNav dl{display:block;margin:10px 0}
.categoryFtNav dl dd,.categoryFtNav dl dt{display:inline-block;line-height:1}
.categoryFtNav dl dt{text-align:right;width:70px;padding-right:15px;font-weight:700}
.categoryFtNav dl dt:first-child+dd{border-left:none}
.categoryFtNav dl dd{border-left:1px solid #e1e1e1;line-height:1.5}
.categoryFtNav dl dd a{padding:0 5px}
.categoryFtNav dl dd.eurp{margin-left:84px;border-left:none}
.error{padding:120px 20px;background-color:#fff;border:1px solid #e1e1e1;text-align:center}
.error h1{margin-bottom:10px;font-size:100%;font-weight:700}
.error p{margin-bottom:20px;font-size:93.75%}
.error p a{font-weight:700}
#cfInner{background-color:#4e555d;text-align:center}
#cfInner .cfNavColumn{margin:0 12px;padding:12px 0;text-align:left}
#cfInner .cfNavColumn:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#cfInner .cfNavColumn li{display:block;float:left;width:25%}
#cfInner .cfNavColumn li a{display:block;background-color:#494e54;border:1px #3c4147 solid;margin:0 10px;text-decoration:none;overflow:hidden}
#cfInner .cfNavColumn li a p{padding:8px;line-height:1.4;font-size:0}
#cfInner .cfNavColumn li a p em{display:block;font-weight:700;font-size:.875rem;color:#fff}
#cfInner .cfNavColumn li a p span{color:#8a8f95;font-size:.75rem}
#cfInner .cfNavColumn .iconAPP,#cfInner .cfNavColumn .iconFB,#cfInner .cfNavColumn .iconRSS,#cfInner .cfNavColumn .iconSB,#cfInner .cfNavColumn .iconTW{float:right;margin:12px 8px 12px 4px;width:40px;height:40px;text-indent:-9999px;background:url(https://s.yimg.jp/images/jpnews/cre/common/pc/images/yn_fnavi_sprite_v2.png) no-repeat}
#cfInner .cfNavColumn .iconAPP{background-position:0 0}
#cfInner .cfNavColumn .iconFB{background-position:-44px 0}
#cfInner .cfNavColumn .iconTW{background-position:-88px 0}
#cfInner .cfNavColumn .iconRSS{background-position:-132px 0}
#cfInner .cfNavColumn .iconSB{background-position:-220px 0}
#cfInner .cfNavList{margin:0 20px 10px;border-bottom:1px #5b646d solid;font-size:.8125rem;text-align:left}
#cfInner .cfNavList a:link,#cfInner .cfNavList a:visited{color:#fefefe;text-decoration:none}
#cfInner .cfNavList a:hover{text-decoration:underline}
#cfInner .cfNavList ul{text-align:center;border-bottom:1px #3d4045 solid;padding-bottom:12px;font-size:0}
#cfInner .cfNavList li{display:inline;padding:0 10px;border-right:1px #3d4246 solid;font-size:.8125rem}
#cfInner .cfNavList li.last{border-right:none}
#cfInner .cfSubNavList{font-size:.75rem;padding:0 20px 10px;display:inline-block;line-height:1}
#cfInner .cfSubNavList:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#cfInner .cfSubNavList a:link,#cfInner .cfSubNavList a:visited{color:#fefefe;text-decoration:none}
#cfInner .cfSubNavList a:hover{text-decoration:underline}
#cfInner .cfSubNavList .subNavL{float:left;border-right:1px #3d4246 solid}
#cfInner .cfSubNavList .subNavR{float:left;padding-left:10px;border-left:1px #555c64 solid}
#cfInner .cfSubNavList dt{float:left;color:#a8afb7;padding-right:10px}
#cfInner .cfSubNavList dd{float:left;padding-right:10px}
.epCategory .ymuiHeaderBGBlue,.localCon .ymuiHeaderBGBlue{margin:0 10px 0;padding-top:10px}
.epCategory .ymui3DContainerLBP,.localCon .ymui3DContainerLBP{border-bottom:1px #f0f0f0 solid}
.epCategory .ymui3DContainerLBP>div,.localCon .ymui3DContainerLBP>div{margin:0 10px 10px}
.ymui3DContainerLP{border-top:none;margin-bottom:10px}
.ymuiContainer{padding:3px 5px}
.marB10{margin-bottom:10px}
html>body .fsst{font-size:84%}
html>body .yjSt{font-size:84%}
.fsmt strong,.fsst strong,.yjL strong,.yjMt strong,.yjSt strong,.yjXL strong,strong.yjM{font-weight:700}
.ymuiTitle{font-weight:700;padding:2px 6px 0 6px;display:block}
.ymuiHeaderBGLB,.ymuiHeaderBGLG2,.ymuiHeaderBGLP{line-height:32px;font-size:82.5%;font-weight:700;background:0 0;color:#333}
.ymui3DHeaderLB{border:none}
.ymui3DHeaderLP{border:none}
.ymui3DHeaderLB div,.ymui3DHeaderLG2 div{background:0 0;border-top:none;border-bottom:none;-webkit-box-shadow:none;box-shadow:none}
.ymuiList li{margin:4px 0}
.ymuiList b{font-weight:400}
.ymuiArrow1{background:url(https://s.yimg.jp/images/media/ymui/img/carrrot_5.png) no-repeat 0 9px;padding:0 0 0 10px}
.ymui3DContainerLB,.ymui3DContainerLG2 div,.ymui3DContainerLP{border-top:1px solid #e1e1e1;border-right:none;border-left:none;border-bottom:none;padding:4px 5px}
.ymui3DContainerLG2 div .icoPay{border-top:none}
.icoPay{background:url(https://s.yimg.jp/images/news/v1/yn_sprite_icons_20130409.png) no-repeat;background-position:0 -2000px;display:inline-block;line-height:20px;width:18px;height:20px;text-indent:-9999px;margin-right:2px}
.ymuiNew{background:url(https://s.yimg.jp/images/media/ymui/img/photoNew_45x15.gif) no-repeat -15px 3px;cursor:default;display:inline-block;line-height:20px;width:31px;height:20px;text-indent:-9999px;margin-right:2px}
.ymuiDotHr{display:none}
.modProvide .ymuiHeaderBGLBP{font-size:87.5%;border:1px #e1e1e1 solid;background-color:#eee;color:#333}
.modProvide .ymui3DContainerLBP{background-color:#fff}
.imgMargin img{margin:0 5px 0 0;float:left}